#-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Others files
*.exe
*.dll
*.def
*.reg
*.ini


# Windows shortcuts
*.lnk


#-------------------------
# Environment Files
#-------------------------
# These should never be under version control,
# as it poses a security risk.
.env
.vagrant
Vagrantfile

#-------------------------
# Work files
#-------------------------
*.doc
*.docx
*.pptx
*.pdf
*.zip
*.txt


#-------------------------
# Work directory
#-------------------------
documentacao/
tools/
desenvolvimento/

#-------------------------
# Composer
#-------------------------
vendor/

#-------------------------
# IDE / Development Files
#-------------------------

# Modules Testing
_modules/*

# phpenv local config
.php-version


# Visual Studio Code
.vscode/

/results/
/phpunit*.xml
/.phpunit.*.cache

